{% extends "layout.html" %}
{% block title %}Edit restaurant page{% endblock %}
{% block content %}

<h2>Editing restaurant</h2>
<form action="/edit/{{restaurant.id}}" method="POST">
    <p>Restaurant name:<br>
        <input type="text" name="name" value="{{ restaurant.name }}" minlength="1" maxlength="20" required></p>
    <p>Cuisine:<br>
    <textarea name="cuisine" rows="1" cols="20" minlength="5" maxlength="200" required>{{ restaurant.cuisine }}</textarea></p>
    
    <p>Description:<br>
    <textarea name="description" rows="8" cols="40" maxlength="1500" required>{{ restaurant.description }}</textarea></p>
    
    <p>Opening hours:<br>
    <textarea name="opening_hours" rows="3" cols="10" minlength="10" maxlength="100" required>{{ restaurant.opening_hours }}</textarea></p>
    
    <p>Location:<br>
    <textarea name="location" rows="1" cols="20" minlength="5" maxlength="200" required>{{ restaurant.location }}</textarea></p>
    
    <br>
    <input type="submit" value="Save Changes">
    <input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
</form>

<p><a href="/">Go back</a></p>

{% endblock %}