{% extends "layout.html" %}
{% block content %}

<ul>
<li>Name: {{name}}
<li>Cuisine: {{cuisine}}
<li>Description: {{description}}
<li>Location: {{location}}
<li>Opening hours: {{opening_hours}}
</ul>

{% if reviews %}
<h3>Reviews<h3>
{% endif %} 

<ul>
{% for entry in reviews %}
<li> {{ entry[0] }} ({{ entry[1] }}/5): "{{ entry[2] }}"
{% endfor %}
</ul>

{% if reviews %}
<form action="/remove_review" method="POST">
    <h2>Remove Reviews</h2>
    {% for review in reviews %}
    <input type="checkbox" name="review_ids" value="{{ review.id }}"> {{ review.comment }} - {{ review.username }} <br>
    {% endfor %}
    <input type="submit" value="Remove selected reviews">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>


{% else %}
    <p>No reviews found.</p>
{% endif %}


{% if session.user_id %}
<h3>Review restaurant</h3>
<form action="/review" method="POST">

Stars:
<select name="stars">
<option value="1">1
<option value="2">2
<option value="3">3
<option value="4">4
<option value="5">5
</select>
<p> 
Comment:<br>
<textarea name="comment" rows="5" cols="40", maxlength="1000"></textarea>
<p><input type="submit" value="Submit">
<input type="hidden" name="restaurant_id" value="{{ id }}">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
{% endif %}

<p>
<a href="/">Go back</a>

{%endblock%}