{% extends "layout.html" %}
{% block content %}

<ul>
<li>Name: {{name}}
<li>Average rating:{{average_rating}}/5
<li>Cuisine:
    <ul>
        {% for category in categories %}
            <li>{{ category.category }}</li>
        {% endfor %}
    </ul>
<li>Description: {{description}}
<li>Address: {{address}}
<li>Opening hours:
<ul>
    {% for day, times in opening_hours.items() %}
    <li>
        {% if times[0] is none or times[1] is none%}
            {{day}}: Closed
        {% else %}
            {{day}}: {{times[0]}} - {{times[1]}}
        {% endif %}
    </li>
    {% endfor %}
</ul>

{% if session.user_id and session.user_role == "admin" %}
<p> <a href="/edit/{{ id }}">Edit restaurant page</a></p>
{% endif %}

{% if reviews %}
    <h3>Reviews</h3>
    <ul>
        {% for review in reviews %}
        <li>{{ review[0] }} ({{ review[1] }}/5): "{{ review[2] }}"
        {% if session.user_role == "admin" %}
        <form action="/remove_review" method="POST" style="display:inline;">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            <input type="submit" value="Delete">
        </form>
        {% endif %}
        </li>
    {% endfor %}
{% endif %}




{% if session.user_id %}
<h3>Review restaurant</h3>
<form action="/review" method="POST">
Stars:
<select name="stars">
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
</select>
<p> 
Comment:<br>
<textarea name="comment" rows="5" cols="40" maxlength="1000"></textarea>
<p><input type="submit" value="Submit">
<input type="hidden" name="restaurant_id" value="{{ id }}">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
{% endif %}

<p>
<a href="/">Go back</a>

{% endblock %}
